body {
	background-color:MistyRose;
}
header	{
	background-image:"https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwi7iJzEysfTAhXEwlQKHTlRAZkQjRwIBw&url=http%3A%2F%2Fwww.greatwallnd.com%2F&psig=AFQjCNHy_pnfSWrhJmRXFOlmfpxy5A8nqQ&ust=1493483699174821"
	height:800px;
	width:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	overflow:hidden
}

group {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
}
h1	{
	color: Crimson;
	font-size:60px;
	font-family: "Times New Roman", Times, Serif
	padding-right: 30px;
   	padding-left: 30px;
	padding-top:50px;
	padding-bottom:80px;
}
p	{
	color: Crimson;
	font-size: 18px;
	font-family: "Times New Roman", Times, Serif
	align:right-left;
   	padding-right: 30px;
   	padding-left: 30px;
	padding-top:50px;
	padding-bottom:80px;
}
h2	{
	color: Crimson;
	font-size: 30px;
	font-family: "Times New Roman", Times, Serif
	padding-right: 30px;
   	padding-left: 30px;
	padding-top:50px;
	padding-bottom:80px;
}
h3	{
	color: Crimson;
	font-size: 30px;
	font-family: "Times New Roman", Times, Serif
	padding-right: 30px;
   	padding-left: 30px;
}
li	{color: Crimson;
	font-size: 20px;
	font-family: "Times New Roman", Times, Serif
	padding-right: 30px;
   	padding-left: 30px;
}
ul     {
	color: Crimson;
	Font-Size: 20px;
	font-family: "times New Roman", Times, Serif
	padding-right: 40px;
   	padding-left: 30px;
}
Div	{
	color: Crimson;
	font-size: 20px;
	font-family: "Times New Roman", Times, Serif
	padding-right: 40px;
   	padding-left: 30px;
	padding-top:50px;
	padding-bottom:80px;
}
