body {
	background-color:MistyRose;
}
h1	{
	color: Crimson;
	font-size:60px;
	font-family: "Times New Roman", Times, Serif
}
p	{
	color: Crimson;
	font-size: 15px;
	font-family: "Times New Roman", Times, Serif
}
h2	{
	color: Crimson;
	font-size: 20px;
	font-family: "Times New Roman", Times, Serif
}
h3	{
	color: Crimson;
	font-size: 20px;
	font-family: "Times New Roman", Times, Serif
}
ul     {
	color: Crimson;
	Font-Size: 15px;
	font-family: "times New Roman", Times, Serif
}
div	{
	color: Crimson;
	font-size: 20px;
	font-family: "Times New Roman", Times, Serif
}
